<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="box"></div>
<script type="text/javascript" src="../../../../第三阶段/课件github/practivePaperFile/react/js/react.development.js"></script>
<script type="text/javascript" src="../js/react.dom.development.js"></script>
<script type="text/javascript" src="../../../../第三阶段/课件github/practivePaperFile/react/js/prop-types.js"></script>
<script type="text/javascript" src="../../../../第三阶段/课件github/practivePaperFile/react/js/babel.min.js"></script>
<script type="text/babel">

  class PersonInfo extends React.Component {

//
    static propTypes = {
      name:PropTypes.string.isRequired,
      age:PropTypes.number,
      sex:PropTypes.string

    }
    static defaultProps = {

      age:18,
      sex:'女'
    }



    render () {
    const {name,age,sex} = this.props
      return  <ul>
                <li>姓名：{name}</li>
                <li>age：{age}</li>
                <li>sex：{sex}</li>
              </ul>
    }

  }
  const person ={
    name:'lilei',
//    age: 20,
//    sex:'男'
  }
  ReactDOM.render(<PersonInfo {...person}/>,document.getElementById('box'))
</script>
</body>
</html>