.right-header{

  width: 100%;
  background: #fff;
  .header-top{
    padding-right:20px;
    text-align: right;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid green;
    span{
      margin: 0 20px;
    }
  }
  .header-bottom{
    height: 50px;
    line-height: 50px;
    .header-bottom-left{
      &::after{
        content: '';
        position: absolute;
        left:50%;
        bottom: -15px;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 15px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
      }
      p{
        margin: 0 0 0 50px;
      }
    }
    .header-bottom-right{
      padding-right: 20px;
     text-align: right;
        img{
          width: 30px;
          height: 25px;
          margin: 0 5px 0 20px;
        }
    }
  }
}